@model IdentityRole
<div class="bg-primary panel-body"><h4>Rename Role</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Rename" method="post">
    <div class="form-group">
        <label for="name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</form>